{{!< layout}}
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
        <form class="aui" action="spunky-config-submit">
            <div class="field-group">
                <label for="text-input">Create a page<span class="aui-icon icon-required">required</span></label>
                <input class="text" type="text" id="create-a-page" name="create-a-page" title="Create a page point" value="10">
                <input class="checkbox" type="checkbox" name="active-create-a-page" id="active-create-a-page">
            </div>
            <div class="buttons-container">
                <div class="buttons">
                    <input class="button submit" type="submit" value="Save" id="config-save-button">
                    <a class="cancel" href="#">Reset to Default</a>
                </div>
            </div>
        </form>
    </div>
  </div>
